body{
    
}
#cv-form{
    /* display: none; */
}
#cv-template{
    display: none;
}
.myimg{
   
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}
.background{
    background-color: aqua;
}
.display{
    display: inline-flex;
    margin: -100%;
}
.links{
    margin: -100%;
    padding: -100%;
    line-height:-10%;
    border: -20%;
    
}
.text{
    text-decoration: none;
}

